# Dependências
node_modules/

# Código TypeScript compilado
dist/
build/

# Editor
.vscode/
.idea/

# Testes / coverage
coverage/

# Variáveis de Ambiente e Segredos (CRÍTICO PARA SEGURANÇA)
.env
.env.local

# Arquivos de log de erros do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema operacional (Mac)
.DS_Store